<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login-page</title>
  <link rel="stylesheet" href="CSS/ALLFiles.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
<div class="for_image">
    <div class="header2">
        <p>Symbol</p>
        <ul>
            <li><a href="#footer">About</a></li>
        </ul>
    </div>
<div class="header">
  <h1>Welcome to Peunosthdy!!</h1>
</div>
<div class="contents">
  <img src="/images/cartoon on learning.jpg">
   <div class="top-content">
    <h2>What is Peunosthdy?</h2>
    <p>It is a platform where you can where you can write some important formula related to your subjects.</p>
    <p>The user can also write some important notes or points realted to their subjects and can also specify the role of the each word
      of the point in their own language</p>
    <h2 class="red_color">Sounds Interesting Right?</h2>
    <p class="for_left">To take benefits just</p>
    <a  class="set_center" href="/login">Login</a>
  </div>
</div>
</div>
<%- include("Footer.ejs") %>
</body>
</html>